@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  padding: 30px 40px 30px 40px;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}

.logo {
  cursor: pointer;
}

.navbar-info {
  color: white;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
}

.navbar-info h2 {
  cursor: pointer;
}

.nav-cart {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: black;
  font-size: 28px;
  cursor: pointer;
}

.cart-icon-container h2 {
  padding: 3px 0 0 3px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  background-color: #13aa52;
  color: white;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 2%;
  right: 9.25%;
}

.main-img {
  width: 100%;
  height: 900px;
}

.mission-div {
  padding-top: 50px;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: black;
  color: white;
}

.mission-div h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

.subheading {
  font-size: 22px;
  font-weight: 300;
}

.missions {
  margin-top: 90px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.missions h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.mission img {
  width: 550px;
  height: 550px;
}

.missions h3 {
  font-size: 22px;
  font-weight: 300;
  width: 550px;
  margin: 10px 0 50px 0;
}

.container {
  display: flex;
}

.selection {
  width: 20%;
  text-align: center;
  margin-top: 100px;
}

.selection h2 {
  margin: 16px;
  font-size: 28px;
  cursor: pointer;
}

.item-container {
  margin-top: 50px;
  height: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  width: 300px;
  height: 520px;
}

.snowboards {
  margin-top: 65px;
}

.item h2 {
  font-weight: 300;
  margin: 16px 0 8px 0;
}

.item img {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  margin: 15px 0;
  text-align: left;
}

.add-cart {
  align-items: center;
  background-color: #13aa52;
  border: 2px solid #13aa52;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  padding: 0 17px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  text-decoration: none;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 110px;
  right: 0;
  height: 90%;
  width: 400px;
  padding-left: 50px;
  border-left: 2px solid #000000;
  border-bottom: 2px solid #000000;
}

.display-cart-items {
  width: 500px;
  height: 500px;
}

.cart-item-container img {
  width: 300px;
  height: 300px;
}

.cart-item-container h2 {
  font-weight: 300;
  margin-bottom: 5px;
}

.cart-item-container h3 {
  margin-bottom: 5px;
}

.item-quantity button {
  font-size: 16px;
  padding: 0px 12px;
}

.item-quantity span {
  font-size: 16px;
  margin: 0 5px;
}

.cart-buttons {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cart-buttons button {
  margin: 12px 0;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  padding: 0 17px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  text-decoration: none;
}

.checkout-btn {
  background-color: #000000;
  border: 2px solid #000000;
  color: #fff;
}

.cancel-btn {
  background-color: #b3afaf;
  border: 2px solid #b3afaf;
  color: rgb(0, 0, 0);
}
