@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  width: 100%;
  margin: auto;
  padding: 30px 40px 30px 40px;
  font-family: "Inter", sans-serif;
  letter-spacing: 2px;
}

.navbar-info {
  color: white;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
}

.main-img {
  background-color: pink;
  width: 100%;
  max-height: 95vh;
}
